.contactlist {
    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 20px;
        width: 100%;
    }
}

.contact {
    &_wrapper {
        border: 2px solid #bdbdbd;
        border-radius: 7px;
        padding: 10px 5px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &_profile {
        display: flex;
        align-items: center;
        align-self: flex-start;
        gap: 20px;
    }

    &_info {
        p {
            margin: 0;
            line-height: 1.5em;
            white-space: nowrap;
        }
    }

    &_buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        width: 100%;
    }

    &_icon {
        width: 30px;
        height: 30px;
    }
}

.btn {
    flex-grow: 1;
    &_delete {
        border-color: #ec4141;
        color: #ec4141;
        &:hover {
            background: rgba(236, 65, 65, 0.075);
        }
    }
}

@media screen and (min-width: 769px) {
    .contact {
        &_wrapper {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &_buttons {
            width: auto;
        }
    }

    .btn {
        flex-grow: 0;
    }
}
