body {
  margin: 0;
  color: #2f2f2f;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  background: #bed8ff;
  border-radius: 5px;
  font-size: 1em;
  border: none;
  color: #6690c5;
  padding: 5px 8px;
  cursor: pointer;
}

button:hover {
  background:#6690c5;
  color: #bed8ff;
}
