.contactForm {
    &_form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
    &_formfields {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: 30px 10px;

        & label {
            font-size: 1.2em;
            font-weight: 600;
        }
    }

    &_buttons {
        align-self: flex-end;
        display: flex;
        gap: 10px;
    }
}
