.input {
    position: relative;

    & input {
        outline: none;
        border: none;
        width: 100%;
        font-size: 1.3em;

        &:invalid:focus:not(:placeholder-shown) + span {
            background: #e75035;
        }
    }

    & span {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgb(149, 149, 149);
        transition: all 0.2s ease-in-out;
    }

    &:focus-within span {
        height: 3px;
        background: #6690c5;
    }
}
