.view {
    &_header {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    &_contactActions {
        position: relative;
    }

    &_contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_profile {
        font-size: 5em;
        font-weight: 200;
    }
    &_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        &-item {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 10px;

            font-size: 1.1em;

            &:first-child {
                align-self: center;
                font-size: 1.4em;
                color: #000;
                font-weight: 500;
            }

            &:not(:first-child) > :first-child {
                color: rgba(0, 0, 0, 0.488);
                font-size: 1.3em;
            }
        }
    }
}

.menu {
    &_ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        & li {
            padding: 10px 5px;
            width: 100%;
            list-style: none;
            cursor: pointer;
            font-size: 1.2em;

            &:hover {
                background-color: rgba(0, 0, 0, 0.208);
            }

            & > * {
                all: unset;
                cursor: pointer;
            }
        }
    }
}

.header {
    &_icon {
        font-size: 1.5em;

        &-favorite {
            color: #ffc966;
        }
    }
}
