.sidebar {
    &_container {
        width: 100vw;
        background-color: #ffffff;
        border-top: 1px solid #ddd;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    &_links {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }

    &_link {
        all: unset;
        cursor: pointer;
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 1.4em;
        opacity: 0.8;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        transition: all 0.1s ease-in-out;
        &:hover {
            opacity: 1;
        }

        &-active {
            background-color: rgba(164, 164, 164, 0.2);
            opacity: 1;
        }

        & span {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .sidebar {
        &_container {
            width: 170px;
            top: 100px;
            left: auto;
            right: 78vw;
            border-top: 0;
            border-right: 1px solid #ddd;
        }

        &_links {
            align-self: flex-end;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;

            padding-right: 20px;
        }

        &_link {
            flex-direction: row;
            font-size: 1.2em;

            & span {
                display: inline-block;
            }
        }
    }
}
