.main {
    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        width: 100%;
    }

    &_main {
        position: relative;
        width: 100%;
        min-height: calc(100vh - 100px);
        padding: 0 10px;
        background-color: rgb(255, 255, 255);
    }

    &_add {
        position: fixed;
        right: 40px;
        bottom: 100px;
    }
}
