.main {
    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    &_main {
        min-width: 320px;
        width: 100vw;
        max-width: 450px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
    }
}
